sentence-transformers
transformers
chromadb
fastapi
pydantic
streamlit
bm25s
langchain
langchain-community
unstructured
langchain-text-splitters
langchain-huggingface
langchain-chroma
accelerate
langchain_ollama
python-magic-bin
rank_bm25